.news-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.5rem;
}
.news-link{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.news__item{
  width: 50%;
  padding: 2rem 2rem;
  background: #ccc;
  margin-left: 2rem;
  list-style: none;
  text-align: center;
}
.link{
  background: #e47049;
  margin: 2rem;
  font-family: Gilroy-Light;
  font-weight: bold;
  font-size: 15px;
  padding: .5rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}