.news-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.5rem;
}
.news-link{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.news__item {
  padding: 2rem;
  margin: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 2px 2px 25px 0px;
  border-radius: 3px;
  background-color: #fff;
  list-style: none;
  text-align: center;
}
.news__title{
  margin:1.5rem;
}
.new-list__title{
  font-family: Gilroy-Extrabold;
}
.link{
 margin: 1.5rem 3rem;
  font-family: Gilroy-Light;
  font-weight: bold;
  font-size: 15px;
  padding: .5rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.new-date__strong{
  font-size: 10px;
  margin-top: -10px;
}