.btn {
  font-family: Gilroy-Light;
  display: inline-block;
  margin: 0 .5rem;
  cursor: pointer;
  border: none;
  background: #ccc;
  padding: .5rem 1.5rem;
  color: #000;
  border-radius: 4px;
  opacity: .8;
  transition: .2s;
  text-decoration: none;
}

.btn:hover{
  opacity: 1; 
}
.btn-transparent{
  background: transparent;
}

.btn-transparent:hover{
  background: #E4714A;
  transition: 0.1s;
}

.btn-white{
  margin-left: -1rem;
  color: #333431;
  font-family: Gilroy-ExtraBold;
  text-decoration: none;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 2px 3px -1px rgba(0,0,0, .5);
}
.btn-yellow{
  font-family: Gilroy-ExtraBold;
  color: #333431;
  background: #efbc41;
  box-shadow: 0 2px 3px -1px rgba(0,0,0, .5);
  
}
.btn-gray{
  font-family: Gilroy-ExtraBold;
  background: #333431;
  color: #fff;
  border: 1px solid #333431;
  box-shadow: 0 2px 3px -1px rgba(0,0,0, .5);
}
.btn-danger{
  font-family: Gilroy-ExtraBold;
  background: #e47049;
  color: white;
}

.btn-success{
  background: #34ad3c;
  color: white;
}