.news-loader-wrap{
  position: relative;
}

.news-loader{
  position: absolute;
  margin-left: -130px;
  left: 50%;
  top: 50%;
  transform: scale(4);
}

.news-loader div {
  transform-origin: 32px 32px;
  animation: news-loader 1.2s linear infinite;
}

.news-loader div:after {
  background-image: url('../../../assets/img/gym.png');
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 26px;
  width: 12px;
  height: 14px;
}

.news-loader div:nth-child(1){
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.news-loader div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.news-loader div:nth-child(3){
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.news-loader div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.news-loader div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.news-loader div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.news-loader div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.news-loader div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.news-loader div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.news-loader div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.news-loader div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.news-loader div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes news-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}